#game-board img {
    width: 150px;
    height: 150px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

body {
    background-color: #246068;
    text-align: center;
    color: #FFFFFF;
}

p {
    font-size: 150%;
}

#congrats {
    margin-top: 100px;
    display: none;
    font-size: 300%;
}
